@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*COISAS QUE AFETA TODO O SITE*/
* {
    box-sizing: border-box;
    margin: 0;
}

/*BANNER - PRIMEIRA COISA QUE SE VER AO ENTRAR NO SITE*/

header ul a {
    padding: 10px 0;
    font-family: "Roboto", "sans-serif";
    font-weight: 450;
    text-transform: uppercase;
    padding-right: -5rem;
    padding-left: -5rem;
}

header ul li {
    display: inline-block;
    width: 4%;
    margin-right: 30px;
}

header ul li a {
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
}

header ul {
    padding: 0;
}

.dropdown {
    background-color: #fff;
    padding-right: 10px;
}

#logo {
    width: 20%;
    padding-top: 20px;
    vertical-align: middle;
}

#logo img {
    align-items: center;
    padding-left: 10px;
    margin-right: 20px;
    width: 77px;
    height: 79px;
}

.about-espaco {
    margin-right: 20vh;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

header ul a {
    text-decoration: none;
    outline: 0;
    color: #fff;
}

#button-menu a{
    text-decoration: none;
    color: #FAF5F0;
}
#button-menu a:hover{
    color: #ad9966;
    transition: 0.5s ease;
}

.corpo-do-site {
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    margin-right: 12vh;
}

#button-menu:hover {
    text-decoration: none;
    color: #ad9966;
    background-color: #fff;
    transition: 0.5s ease;
}

.button-collapse {
    position: relative;
}

.button-collapse>ul {
    padding: 0;
    position: absolute;
    width: 150%;
    height: 15vh;
    padding-top: 5vh;
    z-index: -10;
    background-color: aliceblue;
    opacity: 0;
    text-align: center;
    list-style: none;

}

.button-collapse li {
    height: 5vh;
}

.button-collapse:hover ul {
    opacity: 1;
    z-index: 10;
}

#section1 {
    height: 55vh;
    width: 100%;
    background-image: url(banner-bg-cortado.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-bottom: -7px;
}

.home-banner-text {
    width: 40%;
    text-align: center;
    position: relative;
    left: 30%;
    top: 30%;
    color: aliceblue;
    font-size: 45px;
    font-weight: lighter;
}

.home-banner-text h1 {
    letter-spacing: 10px;
    font-size: larger;
    font-weight: 100;
    text-align: center;
    padding-bottom: -10%;
}

.home-banner-text p {
    font-weight: 400;
    padding-top: 40px;
    font-size: 15px;
    margin: 0 0 50px;
    font-family: "Roboto", sans-serif;

}
.home-banner-text hr{
    height: 1px;
    width: 70%;
    position: absolute;
    left: 14%;
    font-weight: 100;
}

/*CORPO DO SITE*/

p {
    font-size: 15px;
    margin: 0 0 50px;
    font-family: "Roboto", sans-serif;
}


.cozinheiro {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    bottom: 70vh;
    right: 100vh;
    width: 648;
    height: 450;
    z-index: 0;
    margin-bottom: 10vh;
}

.aspas {
    display: inline-block;
    position: relative;
    width: 545px;
    left: 56%;
    padding-top: 30vh;
}

.aspas>h3 {
    text-align: start;
    color: #000000c1;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding-left: 10%;
    letter-spacing: 7.2px;
    text-transform: uppercase;
}

.aspas>p {
    text-align: start;
    color: #464646c1;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-left: 10%;
    padding-bottom: 10%;
}

.signature {
    position: absolute;
    top: 270%;
    left: 60%;
    margin-bottom: 10vh;
}
/*CHICKEN-----------------------------------------------------------*/

.chicken {
    background-image: url(callaction-bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    width: 88%;
    top: 200%;
    display: inline-block;
    left: 10%;
    margin-top: 50%;
}

/*CHEF'S QUOTES - ABAIXO DO FORMULÁRIO*/

.cozinheiro {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 100%;
    z-index: 0;
    margin-bottom: 10vh;
}

.quotes{
    max-height: 100vh;
}

.quotes-esquerda {
    position: absolute;
    padding-top: 20%;
    padding-left: 10%;
    z-index: -3;
    bottom: 150%;
}

.quotes-esquerda>h1 {
    text-align: start;
    color: #000000c1;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.quotes-esquerda>p {
    text-align: start;
    color: #464646c1;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.signature {
    position: absolute;
    top: 625%;
    left: 10%;
}

/*CHEF'S QUOTES - ABAIXO DO FORMULÁRIO*/

.quotes-esquerda {
    position: absolute;
    padding-top: 20%;
    top: 50%;
}

.quotes-esquerda>h1 {
    text-align: start;
    color: #000000c1;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.quotes-esquerda>p {
    text-align: start;
    color: #464646c1;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

